// Файл глобальных стилей для всего приложения
@use './clearstyle';

@use './fonts';

:root {
	--color-text-primary: #000;
	--bg-primary: #fff;
}

#root {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: var(--color-text-primary);
	background-color: var(--bg-primary);

	&:global(._lock) {
		overflow: hidden;
	}
}