.wrapper {
  padding: 20px;

  h1 {
    display: block;
    text-align: center;
    width: 220px;
  }
}

.version {
  font-size: 10px;
  display: block;
  text-align: right;
  margin-top: 5px;
}

.recordButton {
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 40px;
}